@import "tailwindcss";

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.container {
  max-width: 1980px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}

.purpleColorBg {
  background-color: #c718c5;
  color: #fff;
}
.purpleColorText {
  color: #c718c5;
}
.section {
  padding: 5rem 0;
}
h2 {
  font-size: 32px;
  line-height: 34px;
  margin-bottom: 20px;
  font-weight: 700;
}
